*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body /*Tamanho Original*/
{
    background-color: white; /*green*/
}

@media screen and (max-width: 768px)/*Tablet*/
{
    body{
        background-color: blue;   /*blue*/ 
    }
    .contato
    {
        position: absolute;
        font-size: 20pt;
        right: 50px;
        top: -10px;
    }

    .cards_D
    {
        position: absolute;
        top: 135px;
        right: 350px;
        height: 26rem;
    }

    .cards_E
    {
        position: absolute;
        top: 110px;
        left: 350px;
        height: 26rem;
    }

   
    
}

@media screen and (max-width: 600px)/*Mobile*/
{
    body{
        background-color: red; /*red*/
    }
    .contato
    {
        position: absolute;
        font-size: 20pt;
        right: 50px;
        top: -10px;
    }

    
    .cards_D
    {
        position: absolute;
        top: 140px;
        right: 350px;
        height: 26rem;
    }

    .cards_E
    {
        position: absolute;
        top: 115px;
        left: 350px;
        height: 26rem;
    }


}

nav
{
    background-color:#DCDCDC;
    height: 70px;
    width: 100%;
}

img.logo
{
    background-color:#DCDCDC;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    height: 70px;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li
{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}

nav ul li a
{ 
    color: white;
    padding: 7px 13px;
}

a
{
    text-decoration: none;
    color: #CFB53B;
}
a:link{
    color: #CFB53B;
}

a:visited{
    color: #CFB53B;
}

a:hover{
    color: #CFB53B;
}

a:active{
    color: #CFB53B;
}

.mondura_D
{
    position: absolute;
    right: 100px;
    height: 26rem;

}

.mondura_E
{
    position: absolute;
    left: 100px;
    height: 26rem;
}

.cards_D
{
    position: absolute;
    bottom: 100px;
    right: 350px;
    height: 26rem;

}

.cards_E
{
    position: absolute;
    bottom: 126px;
    left: 350px;
    height: 26rem;

}


.box
{
   position: absolute;
   color: #474A51;
   bottom: 0px;
}

h1
{
   font-size: 18px;
}

h2
{
    font-size: 14px;
}

h3
{
    font-size: 12px; 
}

.aviso
{
    font-family: 'Tangerine', serif;
    background: #CFB53B;
    color: #474A51;
    font-size: 20px;
    text-shadow: 4px 4px 4px #aaa;
    position: absolute;
    top: 70px;
}

.active
{
    font-family: 'Tangerine', serif;
    color: #CFB53B;
    font-size: 30pt;
}

.contato
{
    font-family: 'Tangerine', serif;
    color: #CFB53B;
    font-size: 20pt;
}


h4
{
    color: #CFB53B;
    font-size: 20px; 
}

p
{
    color: #474A51;
    font-size: 18px;
}
